.add-plan {
  background-color: $special_blue_medium;

  top: -70px;
  position: relative;
  z-index: 30;
  padding-bottom: 98px;
  margin-bottom: -100px;

  @include tablet {
    padding-bottom: 88px;
  }

  @include desktop {
    padding-bottom: 100px;
  }
}

.add-plan__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
}

.add-plan__step--pad {
  padding-bottom: 10px;

  @include tablet {
    margin-bottom: 50px;
  }

}

.add-plan__step {
  margin-bottom: 10px;
  padding: 24px 24px 16px 25px;
  background-color: $white;
  border-radius: 10px;

  .points {
    display: none;
  }

  @include tablet {
    padding: 48px 40px 56px 40px;
    margin-top: 15px;
    border-radius: 30px;

    &--2 {
      margin-top: 38px;
      margin-bottom: 47px;
      padding-bottom: 54px;

    }

    &--3 {
      margin-bottom: 43px;
    }
  }

  @include desktop {
    .points {
      display: flex;
    }

    margin-top: 0;
    padding: 101px 160px 106px 160px;
    position: relative;
    border-radius: 60px;
    margin-bottom: 44px;
  }

}

.add-plan__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  @include tablet {

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }

  @include desktop {

    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: initial;
  }
}

.add-plan__title-brief {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 0.07em;
  color: $basic_blue_light;
  opacity: 0.3;

  @include tablet {

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.08em;
  }

  @include desktop {
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    opacity: 1;
  }
}

.add-plan__info-date {
  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid $gray_lighter;

    padding: 40px 0 0px 0;
    position: relative;
  }

}

.add-plan__description {
  font-size: 16px;
  line-height: 22px;
  color: $special_grey;
  margin-top: 10px;
  margin-bottom: 20px;

  @include tablet {
    font-size: 20px;
    line-height: 24px;
    width: 505px;
    margin-top: 35px;
    margin-bottom: 40px;
  }

  @include desktop {
    width: 581px;
    margin-bottom: 55px;
  }
}

.add-plan__country {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  &:not(:nth-child(3)) {
    .special-arrow {
      display: block;
      position: absolute;
      bottom: -10px;
      background: red;
    }
  }

  @include tablet {
    padding-top: 40px;
    border-top: 1px solid #E1E3E9;
    margin-bottom: 50px;

    &::before {
      position: absolute;
      content: "";
      z-index: 0;
      width: 1px;
      height: 100%;
      top: 0;
      right: 140px;
      background-color: #E1E3E9;
    }
  }

  @include desktop {
    padding-top: 59px;

    &::before {
      right: 219px;
      height: 540px;
    }
  }
}

.add-plan__item {
  margin-bottom: 22px;
  position: relative;
  display: flex;
  justify-content: space-between;

  @include tablet {
    margin-bottom: 18px;
  }

  &::before {
    position: absolute;
    z-index: 10;
    content: "";
    width: 8px;
    height: 8px;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $basic_blue_light;
    border-radius: 50%;

    @include tablet {
      width: 14px;
      height: 14px;
      right: 133px;
    }

    @include desktop {
      right: 212px;
    }
  }

  &--select {
    &::before {
      background-color: $white;
      border: 1px solid $gray_legend;
    }

  }

  &--select-active {
    border-radius: 4px;

    .remove-country {
      display: none;

      @include tablet {
        display: block;
      }
    }

    &::before {
      display: none;

      @include tablet {
        display: block;
      }
    }

    .country-name {
      color: $white;
      background: $basic_blue_light;

      @include tablet {

        &::before {
          // transform: translateY(-50%);
          left: 326px;
        }

        &::after {
          // transform: translateY(-50%);
          left: 326px;
        }
      }

      @include tablet {

        &::before {
          // transform: translateY(-50%);
          width: 22px;
          left: 681px;
        }

        &::after {
          // transform: translateY(-50%);
          width: 22px;
          left: 681px;
        }
      }
    }

    .select-country {
      display: grid;

      @include desktop {
        width: 730px;
      }

    }

    .spesial-shadow {
      background: none;
    }

    .country-name__action {
      &::before {
        width: 24px;
        background-color: rgba($color: $white, $alpha: 0.3);
      }

      &::after {
        background-color: rgba($color: $white, $alpha: 0.3);
        right: 15px;
        width: 24px;
      }

      &:hover {

        &::before,
        &::after {
          background-color: $white;
        }
      }

      &:active {

        &::before,
        &::after {
          background-color: rgba($color: $white, $alpha: 0.1);
        }
      }
    }
  }

  &--new-country {
    .country-name {
      background: $basic_blue_lightest;
      border: none;

      // &::before {
      //   height: 2px;
      //   top: 50%;
      //   left: 193px;
      //   transform: rotate(0);
      // }
      // &::after {
      //   height: 2px;
      //   left: 193px;
      //   top: 50%;
      //   margin: 0;
      //   transform: rotate(90deg);
      // }
      // @include tablet{
      //   &::before {
      //     width: 20px;
      //     top: 50%;
      //     left: 320px;
      //   }
      //   &::after {
      //     width: 20px;
      //     top: 50%;
      //     left: 320px;
      //   }
      // }
      // @include desktop{
      //   &::before {
      //     top: 50%;
      //     left: 680px;
      //   }
      //   &::after {
      //     top: 50%;
      //     left: 680px;
      //   }
      // }
      &:hover {
        background-color: $special_blue_light;
      }

      .spesial-shadow {
        background: none;
      }
    }

    background: $basic_blue_lightest;

    &::before {
      background-color: $basic_blue_lightest;
      border: 1px solid $gray_legend;
    }

    @include tablet {
      background: none;

    }
  }

  &:not(:last-of-type)::after {
    position: absolute;
    z-index: 10;
    content: "";
    bottom: -15px;
    right: 49px;
    width: 8px;
    height: 11px;
    background-image: url(../img/icon/icon-special-arrow.svg);

    @include tablet {
      display: none;
    }
  }
}
