.arrow {
  cursor: pointer;
  color: $black;
  opacity: 0.3;

  &--left {
    transform: rotate(-180deg);
    // margin-left: 10px;
  }

  &--right {
    // margin-right: 10px;
  }

  @include tablet {
    width: 29px;
    height: 36px;

    &--left {
      transform: rotate(-180deg);
      margin-left: 10px;
    }

    &--right {
      margin-right: 10px;
    }
  }

  @include desktop {
    &--left {
      margin-left: 0;
    }

    &--right {
      margin-right: 0;
    }
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}
