.button {
  display: inline-block;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  background-color: $pink;

  &--promo {
    margin-top: 40px;
    padding: 30px 180px 30px 40px;
    background-image: url("../img/icon/arrow-long.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    @include tablet {
      margin-top: 15px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;

      padding: 19px 107px 19px 40px;
    }
  }

  @include tablet {
    // padding-left: 40px;
    width: 250px;

    &--promo {
      padding-right: 0;
      text-align: left;
    }
  }

  @include mobile {

    width: 288px;
  }
}

.button--price-item {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;

  @include tablet {
    width: 288px;
    margin-left: -31px;
  }
}

.button--submit {
  margin: 0 auto;
  margin-top: 25px;
  outline: none;
  border: none;
  padding: 17px 40px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  // flex-shrink: 10;
  @include mobile {
    margin-top: 0;
  }

  &:focus {
    outline: 1px solid $black;
  }
}

.button--modal {
  width: 176px;
  margin-top: 0;
}

.button-close {
  position: absolute;
  z-index: 10;
  top: 14px;
  right: 11px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  outline: none;
  opacity: 1;
  background-color: $orange;
}
