.calendar {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;
  // border: 1px solid #D6D9E6;
  border-collapse: collapse;

  @include tablet {
    margin-top: 39px;
    margin-bottom: 47px;
  }

  @include desktop {
    margin-bottom: 57px;
    margin-top: 16px;
  }
}

.calendar__head {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_grey;
  text-transform: uppercase;

  span {
    display: none;
  }

  @include tablet {
    font-size: 18px;
    padding-bottom: 9px;

    span {
      display: inline;
      text-transform: none;
    }
  }

  @include desktop {
    text-align: left;
    padding-left: 18px;
  }
}

.calendar__head--weekend {
  color: #FF5C23;
}

.calendar__date {
  // position: relative;
  height: 32px;
  text-align: center;
  border: 1px solid $gray_lighter;
  // outline: 1px solid $gray_lighter;
  // outline-offset: -1px;

  @include tablet {
    height: 69px;
    font-size: 18px;
    line-height: 18px;
  }

  @include desktop {
    height: 72px;
    width: 144px;
    padding: 14px 0 0 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
  }

  &--occupy {
    color: $special_grey;
    opacity: 0.3;
  }

  &--chosen {
    font-weight: 500;
    color: $white;
    background-color: $basic_blue_light;

  }

  &--free {
    font-weight: 500;
    color: $basic_blue_light;
    background-color: $basic_blue_lightest;

  }

}

.calendar__date:hover {
  border: none;
  outline: 2px solid #FF5C23;
  outline-offset: -1px;

}

.checkin,
.checkout {
  display: none;

  @include desktop {
    display: block;
    // width: auto;
    // position: absolute;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    padding-top: 9px;
    // bottom: 15px;
    // left: 18px;
  }
}
