.country-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  // flex-grow: 1;
  align-self: center;
  font-size: 14px;
  line-height: 17px;

  @include tablet {
    margin-right: 45px;
    margin-bottom: 20px;
  }

  @include mobile {
    margin-bottom: 30px;
  }
}

.country-list__item {}

.country-list__link {
  color: $ligt-grey;
  text-decoration: none;
}
