.destination {
  @include shift-section;
  position: relative;
  z-index: 60;

  padding-top: 71px - $section_shift;
  padding-bottom: 34px;
  background-color: $gray_light;

  @include tablet {
    // top: -100px;
    z-index: 55;
    padding-top: 128px;
    padding-bottom: 85px;
    background-image: url(../img/background/destanation-flags.png);

    @include retina {
      background-image: url(../img/background/destanation-flags@2x.png);
    }

    background-repeat: no-repeat;
    background-position-y: 120px;
    background-position-x: 92%;
    background-size: 288px 574px;
  }

  @include desktop {
    padding-top: 181px - $section_shift;
    padding-bottom: 138px;
    background-position-x: 95%;
  }
}

.destination__grid {


  @include tablet-only {
    padding: 0 36px 0 36px;
  }

  @include desktop {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 560px 1fr;
    column-gap: 174px;
    padding-left: 72px;
  }
}

.destination__title {
  padding: 0 30px 0 24px;

  @include tablet {
    padding: 0;
  }

  @include desktop {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 5px;
    margin-bottom: 30px;
  }
}

.destination__description {
  margin: 0;
  margin-top: 19px;
  padding: 1px 50px 0 24px;
  color: $special_grey;
  // width: 211px;

  @include tablet {
    font-size: 28px;
    line-height: 33px;

    width: 380px;
    padding: 0;
    margin-top: 57px;
  }

  @include desktop {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    width: 346px;
    margin-top: 0;
  }
}

.destination__list-country {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  list-style: none;
  position: relative;

  @include tablet {
    margin-top: 110px;

    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      left: -36px;
      top: -38px;
      width: 141px;
      height: 141px;

      //$special_decoration_blue
      background-color: $special_blue_lightest;
      border-radius: 20px;
    }
  }

  @include desktop {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 0;

    &::before {
      left: -70px;
      top: -71px;
    }
  }
}

.destination__item {
  margin-bottom: 9px;

  @include tablet {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
  }

  @include desktop {
    &:last-of-type {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, transparent, rgb(237, 239, 246) 90%);
      }
    }
  }
}

.destination__img {
  width: 270px;
  height: 110px;
  border-radius: 10px 10px 0 0;

  @include tablet {
    height: 140px;
    border-radius: 0 20px 20px 0;
    // object-fit: none;
    // position: relative;
    // left: -100px;
    // transform: translateX(-150px);
  }
}

.destination__union-description {
  width: 100%;
  max-height: 89px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $white;
  border-radius: 10px;
  margin-top: -15px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  @include tablet {
    margin: 0;
    max-height: 140px;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 20px 0 0 20px;
    padding-left: 30px;
  }

  @include desktop {
    padding-top: 23px;
  }

}

.destination__country {
  order: 1;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: $black;

  @include tablet {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

.destination__country-description {
  order: 3;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: $special_grey;
  opacity: 0.3;
  max-width: 165px;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    max-width: 200px;
    margin-bottom: auto;
  }

  @include desktop {
    max-width: initial;
  }
}

.destination__user-count {
  position: relative;
  display: block;
  order: 2;
  padding: 0;
  padding-left: 19px;
  margin: 0;
  margin-right: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba($color: $basic_blue, $alpha: 0.3);

  background-image: url(../img/icon/icon-user.svg);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: center;

  @include tablet {
    padding-left: 32px;
    order: 3;
    font-size: 20px;
    line-height: 20px;
    background-size: 24px;
  }
}

.destination__picture {
  position: absolute;
  top: -12px;

  @include tablet {
    right: -35px;
    top: 17px;
  }

  .destination__flag {
    @include tablet {
      width: 70px;
      height: 47px;
    }
  }
}
