.instructions {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    margin-top: 211px;
  }

  @include desktop {
    grid-template-columns: minmax(315px, 1fr) minmax(345px, 1fr) minmax(345px, 1fr) minmax(315px, 1fr);
    width: 100%;
    margin: 0;
  }

  counter-reset: counter;
}

.instructions__description {
  margin: 0;
  padding: 23px 0 22px 23px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic_blue;

  // background-color: $basic_yellow;
  @include tablet {
    font-size: 24px;
    line-height: 24px;
    padding: 31px 0 22px 32px;
  }

  @include desktop {
    padding: 28px 0 20px 34px;
    height: 107px;
  }
}

.instructions__item {
  border-radius: 10px;
  position: relative;
  counter-increment: counter;

  @include tablet {
    min-height: 140px;
  }

  @include desktop {
    min-height: 107px;
  }

  &::before {
    content: counter(counter);
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    border-radius: 50%;
    display: inline-block;
    color: $white;
    text-align: center;

    position: absolute;
    right: 21px;
    top: 22px;

    @include tablet {
      top: 88px;
      right: 290px;
      font-size: 30px;
      line-height: 30px;
    }

    @include desktop {
      font-size: 24px;
      line-height: 24px;
      top: 24px;
      right: 35px;
    }
  }
}

.instructions__item:not(:nth-child(1)) {
  margin-top: -20px;

  @include tablet {
    margin-top: 0;
  }
}

.instructions__item:not(:nth-child(4)) {
  .instructions__description {
    padding-bottom: 40px;

  }
}

.instructions__item:nth-of-type(1) {
  background-color: $special_orange;

  @include tablet {
    border-radius: 20px 0 0 0px;

    &::after {
      display: inline-block;
      width: 40px;

      background-color: inherit;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: -20px;
    }
  }

  @include desktop {
    border-radius: 20px;
  }
}

.instructions__item:nth-of-type(2) {
  background-color: $special_orange + #001800;

  @include tablet {
    border-radius: 20px 20px 0 0;
  }

  @include desktop {
    border-radius: 20px;

    &::after {
      display: inline-block;
      width: 40px;

      background-color: inherit;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: -20px;
    }
  }
}

.instructions__item:nth-of-type(3) {
  background-color: $special_orange + #003000;

  @include tablet {
    border-radius: 0 0 0 20px;

    &::after {
      display: inline-block;
      width: 40px;

      background-color: inherit;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: -20px;
    }
  }

  @include desktop {
    border-radius: 20px;
  }
}

.instructions__item:nth-of-type(4) {
  background-color: $special_orange + #004A1B;

  @include tablet {
    border-radius: 0 0 20px 20px;
  }

  @include desktop {
    border-radius: 20px;
  }
}
