.label-country {
  position: relative;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  padding-left: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.01em;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -13px;
    width: 14px;
    height: 2px;
    background: $basic_blue_light;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $basic_blue_light;
  }

  @include tablet {
    font-size: 30px;
    line-height: 47px;
    margin-bottom: 30px;
    padding-left: 0;

    .flag {
      width: 70px;
      height: 47px;
    }

    &::before {
      display: none;
    }

    &::after {

      left: 519px;
      width: 14px;
      height: 14px;
    }
  }

  @include desktop {
    // margin-bottom: 30px;
    padding-left: 0;
    font-weight: bold;

    &::after {

      left: 767px;

    }

    .flag {
      margin-right: 82px;
    }
  }
}
