// ++++++++++++ Level ++++++++++++++
.level-control {
  display: none;
  justify-content: space-between;
  margin: auto 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.06em;

  height: 34px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;

  &::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 15px;
    background: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 1px;
    background: $gray_legend;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include tablet-only {
    display: flex;
    height: 46px;
  }

  @include desktop {
    height: 46px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.level-control input {
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.07em;

  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  border: none;

  @include tablet {
    width: 74px;
    height: 46px;
    font-size: 20px;
    line-height: 20px
  }


}

.level-control {

  position: relative;

  .min-level {
    border-radius: 4px 0 0 4px;
  }

  .max-level {
    border-radius: 0 4px 4px 0;
  }

  .max-level,
  .min-level {
    width: 50%;
    border: 1px solid $gray_legend;
    background-color: $white;

    &:hover {
      border-color: #959BB2;
    }

    &:active {
      border-color: $black;
    }
  }
}

.level-control input::-webkit-outer-spin-button,
.level-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
