.main-nav {
  margin-right: 15px;

  @include tablet {
    margin: 0;
    // position: absolute;
    // top: 0;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $dark-grey;
  text-decoration: none;
}

.main-nav__link:hover {
  color: $pink;
}

.main-nav__item {
  margin-right: 40px;

  @include tablet {
    margin: 0;
  }
}
