.page-footer {
  @include shift-section;
  position: relative;
  z-index: 50;
  background-color: $white;
  padding-top: 37px;

  @include tablet {
    padding-top: 46px;
  }
}

.page-footer__grid {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__copy {
  margin-top: 37px;
  color: $special_grey;
  border-top: 1px solid #F2F2F2;
  display: flex;
  justify-content: space-between;

  @include tablet {
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__copy-link {
  margin: auto 0 auto 0;

  @include tablet {
    margin: 0;
  }
}

.page-footer__copy-txt {
  font-size: 16px;
  line-height: 16px;

  @include tablet {
    margin-right: 23px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
  }

  ;
}

.page-footer-catalog {
  position: static;
  padding-bottom: 32px;
}

.page-footer__social {
  margin-top: 40px;

  @include tablet {
    margin: 0;
    padding: 0;
  }

  @include desktop {
    margin-right: 40px;
  }
}
