.page-header__grid {
  padding-top: 42px;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-between;

  @include tablet {
    position: relative;
    padding: 0;
    align-items: center;
  }
}

.page-header__contacts {
  position: relative;
  margin-right: 25px;

}
