.page {
  /* Если нет контента, страница занимает весь экран */
  height: 100%;

  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: $dark-grey;

}

.page__body {
  margin: 0;
}
