.page-header {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $basic_blue;

  @include tablet-only {
    background-color: $special_dark_blue2;
  }

  &--catalog,
  &--form {
    background-color: $special_dark_blue2;
  }

  &--open-menu,
  .no-js {
    @include mobile-only {
      background-color: $white;
    }
  }

  &--light {
    background-color: $special_dark_blue2;
  }

  &--scroll {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}

.page-header--scroll {
  .menu {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.page-header--style-light {
  background-color: $special_dark_blue2;
}

.page-header__contacts {
  margin-top: 50px;
  margin-bottom: 40px;
}
