.pagination-control {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  .pagination-control__item {
    width: 100%;
    height: 100%;

    @include tablet {
      // width: auto;

    }
  }
}

.pagination-control__link {
  display: block;
  width: 100%;
  height: 51px;
  background-image: url(../img/icon/icon-page-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include tablet {
    width: 40px;

  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.pagination-control__link--next {
  transform: rotate(180deg);
  border-right: 2px solid $basic_blue_lightest;

  @include tablet {
    border: none;
  }
}
