.points {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;

  @include tablet {
    width: 80px;
    font-size: 20px;
  }

  @include desktop {
    position: absolute;
    top: 104px;
    right: 300px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.points__item {
  margin-right: 10px;
  margin-left: 13px;
  background: $basic_blue_light;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }

  a {
    display: none;
    text-decoration: none;
    color: $basic_blue_light;
    cursor: pointer;
    margin-left: 20px;

    @include desktop {
      display: block;

    }
  }

  @include desktop {
    background-color: transparent;
    color: $basic_blue_light;
    margin-bottom: 20px;
  }
}
