.price {
  padding: 50px 0 138px 0;
  background-color: transparent;

  display: grid;
  grid-template-columns: 66% 34%;

  @include tablet {
    display: block;
  }
}

.price__description {
  order: 2;
  padding-left: 111px;

  @include tablet {
    padding: 0;
    text-align: center;

    svg {
      display: none;
    }

    .contacts__phone {
      color: $pink;
    }
  }
}

.price__text {
  color: $medium-grey;
}

.price__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @include tablet {
    padding: 0 50px;

  }

  @include mobile {
    display: block;
    padding: 0;
  }
}

.price__item {
  width: 370px;
  padding: 40px 30px 30px 30px;
  border: 1px solid rgba(44, 46, 63, 0.3);
  border-radius: 6px;
  margin-right: 30px;

  @include tablet {
    width: 288px;
    position: relative;
    padding-bottom: 0;
  }

  @include mobile {
    margin-bottom: 30px;
  }
}

.price__name {
  color: $medium-grey;
  display: flex;

  .price__value {
    display: inline-block;
    margin-left: auto;
  }
}

.price__item-description {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(44, 46, 63, 0.3);
  }
}

.price__list-features {
  padding: 0;
  margin: 0;
  list-style: none;
}

.price__item-feature {
  padding-left: 20px;
  background-image: url("../img/icon/check.svg");
  background-repeat: no-repeat;
  background-position-y: 6px;

}
