.promo {
  min-height: 857px;
  background-image: url("../img/background/promo-background.jpg");
  background-repeat: repeat;
  background-position-x: -400px;
  background-size: cover;

  @include retina {
    background-image: url("../img/background/promo-background@2x.jpg");
    // background-repeat: no-repeat;
    // background-position-x: -300px;
    // background-size: cover;
  }

  @include tablet {
    min-height: 343px;
    background-repeat: no-repeat;
    background-position-x: 0;
  }

  @include mobile {
    // max-height: 236px;
    // background-position-x: -100px;
    background-size: 100% 236px;
  }
}

.promo__grid {
  padding-left: 50%;
  padding-top: 200px;

  @include tablet {
    padding: 60px 0 0 0;
    text-align: center;
  }

  @include mobile {
    padding-top: 81px;
  }
}

.promo__description {
  margin: 30px 0 0 0;
  color: $white;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.46px;

  @include tablet {
    width: 410px;
    margin: 0 auto;
    text-align: center;
  }

  @include mobile {
    margin-top: 100px;
    width: 100%;
    color: $dark-grey;
  }
}
