.promo {
  min-height: 860px;
  background-image: url("../img/background/promo-background.jpg");
  background-repeat: repeat;
  background-position-x: -240px;
  background-size: cover;

  @include retina {
    background-image: url("../img/background/promo-background@2x.jpg");
    // background-repeat: no-repeat;
    // background-position-x: -300px;
    // background-size: cover;
  }

  @include tablet {
    background-image: url("../img/background/promo-background-tablet.jpg");
    min-height: 344px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
  }

  @include mobile {
    background-image: url("../img/background/promo-mobile-background.jpg");
    // max-height: 236px;
    // background-position-x: -100px;
    background-size: 100% 236px;
  }
}

.promo__grid {
  padding-left: 59.5%;
  padding-top: 185px;

  @include tablet {
    padding: 60px 0 0 0;
    text-align: center;
  }

  @include mobile {
    padding-top: 81px;
  }
}

.promo__description {
  margin: 30px 0 0 0;
  color: $white;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.46px;
  width: 376px;

  @include tablet {
    width: 410px;
    margin: 15px auto 0 auto;

    text-align: center;
  }

  @include mobile {
    margin-top: 100px;
    width: 288px;
    color: $dark-grey;
  }
}
