.question {
  @include mobile {
    margin-top: 15px;
    padding-bottom: 50px;
    background-color: #FBF8F8;
  }
}

.question__background {
  margin-left: 10px;
  padding: 70px 0 70px 0px;
  max-height: 455px;
  background-image: url("../img/background/form-background.jpg");
  background-repeat: no-repeat;
  background-size: 844px 100%;

  @include tablet {
    margin: 0;
    background-size: cover;
  }

  @include mobile {
    padding-top: 50px;
    padding-bottom: 0;
    max-width: 320px;
    margin: 0 auto;
    background-image: none;
    background-color: #FBF8F8;
  }
}

@include tablet {
  .question>.container {
    padding: 0;
    max-width: 100%;

  }
}

@include mobile {
  .question>.container {
    padding: 0;
    background-color: #FBF8F8;
    width: 100%;
    max-width: 100%;
  }
}

.form-question__text {
  margin-top: 20px;
}
