.range-filter {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  display: none;

  @include tablet-only {
    padding-top: 2px;
    width: 281px;
    grid-row-start: 1;
    display: block;
  }
}

.range-filter__control {
  position: relative;
  padding-top: 21px;
  height: 50px;
  border-radius: 2px;

  @include tablet {
    // padding-top: 25px;
  }

  .scale {
    height: 2px;
    background-color: rgba($color: $basic_blue_light, $alpha: 0.2);

    @include tablet {
      height: 3px;
    }
  }

  .bar {
    height: 2px;
    background-color: $basic_blue_light;

    @include tablet {
      height: 3px;
    }
  }

  .toggle {
    position: absolute;
    top: 17px;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: $basic_blue_light;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    @include tablet {
      width: 13px;
      height: 13px;
    }

    &:hover {
      width: 19px;
      height: 19px;
      top: 13px;
      transform: translateX(-25%);
    }

    &:active {
      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.24);
    }
  }
}
