.remove-country {
  position: absolute;
  padding: 0;
  top: -10.5px;
  right: -10.5px;
  width: 21px;
  height: 21px;
  border: none;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    background: none;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  svg {
    fill: $black;
    opacity: 0.1;

    @include tablet {
      width: 22px;
      height: 22px;
    }

    &:hover {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.05;
    }
  }
}
