.route {
  @include shift-section;
  position: relative;
  z-index: 20;

  padding-top: 34px - $section_shift;
  padding-bottom: 35px;
  background-color: $basic_yellow;

  @include tablet {
    top: -100px;
    margin-bottom: -120px;
    padding-top: 100px - $section_shift;
    padding-bottom: 84px;
  }

  @include desktop {
    padding-top: 110px - $section_shift;
    padding-bottom: 56px;
  }
}

.route__grid {
  @include tablet {
    padding: 0 35px;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    padding-left: 225px;
    padding-right: 75px;
  }
}

.route__address {
  margin: 0;
  padding: 0;
  padding-left: 61px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $basic_blue_light;
  background-image: url(../img/icon/icon-map-mark.svg);
  background-repeat: no-repeat;
  overflow: auto;
  text-transform: uppercase;

  @include tablet {
    background-size: 68px;
    padding-left: 94px;
    padding-top: 22px;
    padding-bottom: 24px;
    font-size: 28px;
    line-height: 28px;

    br {
      display: none;
    }
  }

  @include desktop {
    background-size: 90px;
    padding-left: 121px;
    padding-top: 30px;
    padding-bottom: 35px;
  }
}
