.search {
  color: $basic_blue_light;
  background-color: $basic_yellow;
  border-radius: 20px;
  padding: 26px 25px 22px 25px;
  margin-top: 21px;
  margin-bottom: 28px;
  grid-column: 4/-1;
  align-self: start;

  @include tablet {
    padding: 35px 37px 37px 36px;
    margin-top: 43px;
  }
}

.search__title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  width: 145px;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;

  @include tablet {
    width: 100%;
    margin-bottom: 38px;
    font-size: 30px;
    line-height: 30px;
  }
}
