.social {
  margin: 0;

  padding: 0;
  // padding-bottom: 37px;
  list-style: none;

  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  @include tablet {
    width: 62px;
    height: 62px;
  }
}

.page-header__social {}

.social__link--page-header {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--page-footer {
  background-color: $basic_yellow;

  &:hover {
    background-color: $special_yellow_dark;
  }

  &:active {
    img {
      opacity: 0.3;
    }
  }
}

.social__link--facebook {}

.social__icon_facebook {
  @include tablet {
    width: 14px;
    height: 26px;
  }
}

.social__icon_vkontakte {
  @include tablet {
    width: 28px;
    height: 18px;
  }
}

.social__icon_instagram {
  @include tablet {
    width: 22px;
    height: 22px;
  }
}
