.travel-dates {
  margin-top: 34px;

  @include desktop {
    margin-top: 0;
  }
}

.travel-dates__control {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gray_lighter;
  border-bottom: 1px solid $gray_lighter;
}

.travel-dates__buttons {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
