.wrap-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include tablet-only {
    margin: 0;
    padding: 26px 0 24px 0;
    border-top: 1px solid #E1E3E9;

    &--day {
      order: 3;
      margin-top: 34px;
    }
  }

  @include desktop {

    width: 48%;
    margin-bottom: 58px;
    margin-top: 10px;

    &--day {
      order: 3;
    }
  }
}
