.wrap-pagination {
  background: $white;
  margin-bottom: 46px;
  border-radius: 20px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 28px;
  }

  @include desktop {
    margin-bottom: 75px;
  }
}
