.wrap-invite {
  display: flex;
  align-items: end;

  .likes-count {
    display: none;

    @include tablet {
      display: flex;
      left: 0;

    }
  }

  @include tablet {
    grid-row: 3/4;
  }

  @include desktop {
    margin-top: 10px;
  }
}
