.wrap-action-plan {
  position: relative;

  &:nth-child(4):before {
    position: absolute;
    content: "";
    top: 12px;
    bottom: -35px;
    left: -13px;
    width: 2px;
    background: $basic_blue_light;
  }

  @include tablet {
    padding-top: 20px;
    padding-right: 33px;
    padding-left: 3px;

    &:nth-child(4):before {
      top: 45px;
      bottom: -75px;
      left: 525px;
    }
  }

  @include desktop {
    padding-left: 0;

    &:nth-child(4):before {
      top: 100px;
      bottom: -70px;
      left: 773px;
    }

    &:first-of-type {
      padding-top: 68px;
      border-top: 1px solid #E1E3E9;
    }
  }
}
