//Screen size
$mobile: 320px;
$mobilePaddind: 25px;
$tablet: 768px;
$tabletPaddind: 40px;
$tabletPaddindBig: 75px;
$desktop: 1440px;
$desktopPaddind: 60px;

//Shift
$section_shift: -40px;
// Colors
$white: #ffffff;
$black: #000000;
$grey: #CCCCCC;
$pink: #F9EAEA;
$red: #F02323;
$basic_blue: #161C35;
$basic_blue_light: #1D2E5B;
$basic_blue_lightest: #EDEFF6;
$basic_blue_dark: #121936;
$basic_yellow: #FFD74B;
$special_yellow_dark: #FFBD30;
$special_orange: #FF8D30;
$special_orange_dark: #F26926;
$special_blue_light: #DFE3F0;
$special_blue_medium:#D4D9EB;
$special_grey_light: #E1E3E9;
$special_red: #F47E7E;
$special_grey: #444444;
$special_blue: #132576;
$basic_blue: #161C35;
$basic_blue_2: #D1D7E9;
$special_darkest_blue: #101D41;
//header, companion, registration
$special_dark_blue: #192144;
$special_dark_blue2: #182044;
$special_decoration_blue: #141B3B;
//destination
$gray_light: #EDEFF6;
//tariff
$gray: #E6E8F1;
$gray_legend: #CBCED9;
$gray_lighter: #D6D9E6;
$special_blue_lightest: #E2E5F2;
